.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row{
  margin-top: 10px;
}

.error{
  color: red;
}

.fab{
  font-size: 3em;
  width: 2em;
  height: 1.5em;
  text-align: center;
}

.icon {
  float: left;
  width: 50px;
  padding: 2vw;
}
