.currentUser {
    background-color: rgba(127, 199, 247, 0.534);
    border: rgb(127, 199, 247) 1px solid; 
    padding: 1px;;
    margin-left: 25vw;
    margin-right: 15vw;

}
.otherUser {
    background-color: rgba(3, 248, 3, 0.534);
    border: rgb(3, 248, 3) 1px solid;
    padding: 1px;
    margin-right: 25vw;
    margin-left: 15vw;

}
.top {
    margin-top: 5px;
}

