<div *ngFor="let publication of publications" class="form-group container publication"
  style="background-color: whitesmoke">

  <div class="row top">

    <div class="col-3 top">
      <a [routerLink]="['/perfil/'] + publication.userId">
      <img class="avatar" [src]="publication.avatar" />
      <h4>{{publication.user.protectoraName ? publication.user.protectoraName : 'Sin nombre'}}</h4>
    </a>
    </div>

    <div class="col-9 top">{{publication.description}}
      <img [src]="publication.image" class="row publication-image col-12" />
      <app-comments [publicationId]="publication.id" class="col-12"></app-comments>
    </div>
    
  </div>

</div>
