<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <h4 [routerLink]="['perfil-protectora/']">Editar perfil</h4>
    <h4 [routerLink]="['perfil/', userId]">Ver perfil</h4>
    <h4 [routerLink]="['voluntarios/']">Voluntarios</h4>
    <h4 [routerLink]="['protectoras/']">Otras protectoras</h4>
    <h4 [routerLink]="['listado-mensajes/']">Mensajes</h4>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
