<div *ngFor="let receptor of receptorsList" style="min-height: 100vh">
  <ng-container *ngIf="userType === 'protector'">
    <div *ngIf="receptor.type === 'volunteer'" [routerLink]="['/protectora/mensajes/', receptor.id]">
      {{receptor.name}} {{receptor.surname}}
    </div>

    <div *ngIf="receptor.type === 'protector'" [routerLink]="['/protectora/mensajes/', receptor.id]">
      {{receptor.protectoraName}}
    </div>
  </ng-container>

  <ng-container *ngIf="userType === 'volunteer'">
      <div *ngIf="receptor.type === 'protector'" [routerLink]="['/voluntario/mensajes/', receptor.id]">
        {{receptor.protectoraName}}
      </div>
    </ng-container>
</div>
